<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="UTF-8">
  <!-- <meta http-equiv="refresh" content="3"> -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/svg+xml" href="/favicon.svg">
  <link rel="stylesheet" href="/styles/base.css">
  <link rel="stylesheet" href="/styles/header.css">
  <link rel="stylesheet" href="/styles/widget.css">
  <title>
    <%= title %> - Saurlax
  </title>
</head>

<body>
  <header>
    <a href="/" class="logo">
      <img src="/favicon.svg" />
      <span class="mobile-hide">ğ•¾ğ–†ğ–šğ–—ğ–‘ğ–†ğ–</span>
    </a>
    <div class="navbar">
      <a href="/blog">Blog</a>
      <a href="/project">Project</a>
      <a href="/about">About</a>
    </div>
  </header>
  <div class="content">