.blog {
  padding: 0 12px;
}

.blog-item {
  margin: 14px 0;
}

.blog-item h2 {
  margin-bottom: 0;
}

.blog-item h2:hover {
  color: var(--primary-0);
  cursor: pointer;
}

.blog-item span {
  color: var(--primary-4);
}

.blog-detail>h1 {
  margin-bottom: 0;
}

.blog-time {
  color: var(--primary-4);
  margin-bottom: 14px;
}