<%- include('../layouts/header', {title: 'About' }) %>
  <link rel="stylesheet" href="/styles/index.css">
  <div class="padding">
    <h1>About</h1>
    <p>你可以在 <a href="https://github.com/saurlax">Github</a>，<a href="https://gitee.com/saurlax">码云</a>或<a href="https://space.bilibili.com/251608296">哔哩哔哩</a>上找到我。如果可以的话，欢迎你加入我的<a href="https://jq.qq.com/?_wv=1027&k=1vDJz049">QQ群</a>！</p>
    <p>本站使用的开源项目：</p>
    <ul>
      <li>dotenv</li>
      <li>ejs</li>
      <li>express</li>
      <li>moment</li>
      <li>mongoose</li>
      <li>showdown</li>
      <li>showdown-katex</li>
    </ul>
    <p>我的朋友们：</p>
    <ul>
      <li>空空如也</li>
    </ul>
  </div>
  <%- include('../layouts/footer') %>