<%- include('../layouts/header', {title: 'Home' }) %>
  <link rel="stylesheet" href="/styles/index.css">
  <div class="poster">Saurlax's Personal Website</div>
  <div class="padding">
    <p>嗨，欢迎来到我的个人站点。</p>
    
  </div>
  <%- include('../layouts/footer') %>