:root {
  --color-primary-deep: #000000;
  --color-primary: #212121;
  --color-primary-1: #212121dd;
  --color-primary-2: #212121bb;
  --color-primary-3: #21212199;
  --color-primary-4: #21212177;
  --color-primary-5: #21212155;
  --color-primary-6: #21212133;
  --color-primary-7: #21212111;
  --color-primary-hover: var(--color-primary-1);
  --color-primary-active: var(--color-primary-deep);
  --color-danger: #ff4d4f;
  --color-danger-hover: #ff7875;
  --color-danger-active: #d9363e;
  --color-white: #ffffff;
  --color-light: #dddddd;
  --color-lightgray: #bbbbbb;
  --color-gray: #999999;
  --color-darkgray: #777777;
  --color-dark: #555555;
  --color-text: #212121;
  --color-border: #d9d9d9;

  --header-height: 52px;

  -webkit-tap-highlight-color: transparent;
}

::selection {
  color: var(--color-white);
  background-color: var(--color-primary);
}

* {
  font-size: 14px;
  color: var(--color-text);
  transition: all 0.3s ease;
  font-family: "BlinkMacSystemFont", "Segoe UI", "Roboto", "Helvetica Neue", "Arial", "Noto Sans", "sans-serif", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

body {
  margin: 0;
}

@media screen and (max-width:600px) {
  .mobile-hide {
    display: none;
  }
}

.width-limit {
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
}

.space {
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

.space.wrap {
  flex-wrap: wrap;
}

.margin {
  margin: 20px;
}

a {
  color: var(--color-primary);
  text-decoration: none;
}

a:hover {
  color: var(--color-primary-hover);
}

button {
  font-size: inherit;
  outline: 0;
  line-height: 1.5715;
  padding: 4px 14px;
  border: 1px solid var(--color-border);
  border-radius: 2px;
  background-color: var(--color-white);
  cursor: pointer;
  user-select: none;
}

button:hover,
button:focus {
  color: var(--color-primary-hover);
  border-color: var(--color-primary-hover);
}

button:active {
  color: var(--color-primary-active);
  border-color: var(--color-primary-active);
}

button.dashed {
  border-style: dashed;
}

button.danger {
  color: var(--color-danger);
  border-color: var(--color-danger);
}

button.danger:hover,
button.danger:focus {
  color: var(--color-danger-hover);
  border-color: var(--color-danger-hover);
}

button.danger:active {
  color: var(--color-danger-active);
  border-color: var(--color-danger-active);
}

button.primary {
  color: var(--color-white);
  border-color: transparent;
  background-color: var(--color-primary);
  text-shadow: 0 -1px 0 #0000001f;
}

button.primary:hover,
button.primary:focus {
  color: var(--color-white);
  border-color: transparent;
  background-color: var(--color-primary-hover);
}

button.primary:active {
  background-color: var(--color-primary-active);
}

button.primary.danger {
  background-color: var(--color-danger);
}

button.primary.danger:hover,
button.primary.danger:focus {
  background-color: var(--color-danger-hover);
}

button.primary.danger:active {
  background-color: var(--color-danger-active);
}