.poster {
  padding: var(--padding);
  display: flex;
  align-items: flex-end;
  font-weight: bold;
  font-size: 1.4rem;
  color: var(--color-white);
  text-shadow: 0 0 4px var(--color-text);
  height: 200px;
  background-size: cover;
  background-position: center;
  background-image: url("/images/poster.jpg");
}