header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  top: 0;
  width: 100%;
  height: var(--header-height);
  border-bottom: 1px solid var(--color-primary-6);
}

.content {
  margin-top: var(--header-height);
  background-color: var(--color-primary-7);
}

footer {
  background-color: var(--color-primary-7);
  padding: 20px 28px;
}

.logo {
  display: inline-flex;
  align-items: center;
}

.logo img {
  width: 32px;
  height: 32px;
}

.logo span {
  font-size: 1.4rem;
  font-weight: bold;
}

.logo sup {
  color: var(--color-primary);
}