:root {
  --primary-0: #212121;
  --primary-1: #4d4d4d;
  --primary-2: #757575;
  --primary-3: #929292;
  --primary-4: #b6b6b6;
  --primary-5: #f3f3f3;
  --primary-6: #ffffff;
  --background: #ffffff;
  --background-cc: #ffffffcc;
  --background-00: #ffffff00;
  -webkit-tap-highlight-color: transparent;
}

body.dark {
  --primary-6: #212121;
  --primary-5: #4d4d4d;
  --primary-4: #757575;
  --primary-3: #929292;
  --primary-2: #b6b6b6;
  --primary-1: #f3f3f3;
  --primary-0: #ffffff;
  --background: #212121;
  --background-cc: #212121cc;
  --background-00: #21212100;
}

::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary-5);
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--primary-4);
}

::selection {
  color: var(--primary-6);
  background-color: var(--primary-2);
}

* {
  transition: all 0.1s linear;
}

body {
  margin: 0;
  color: var(--primary-3);
  background-color: var(--background);
  height: auto;
  font-size: 14px;
  line-height: 1.5715;
  transition: all 0.1s ease;
  font-family: BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

.icon {
  display: inline-block;
}

.icon svg {
  height: 1em;
  line-height: 1em;
  display: inline-block;
}

h1 {
  color: var(--primary-0);
}

h2 {
  color: var(--primary-1);
}

h3 {
  color: var(--primary-2);
}

h4,
h5,
h6 {
  color: var(--primary-3);
}

hr {
  outline: none;
  border: none;
  width: 240px;
  margin: 20px auto;
  border-bottom: 1px solid var(--primary-4);
}

p {
  color: var(--primary-3);
  text-indent: 1em;
}

a {
  color: var(--primary-2);
  text-decoration: none;
  border-bottom: 1px solid var(--primary-3);
}

a:hover {
  color: var(--primary-1);
  border-color: var(--primary-2);
}

@media screen and (max-width: 600px) {
  .mobile-hide {
    display: none !important;
  }
}