.info {
  color: var(--primary-4);
  font-size: 0.9rem;
  display: inline-flex;
  gap: 12px;
  align-items: center;
}

.overview {
  margin-top: 0;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.titlebox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search {
  max-width: 26px;
  transition: all 0.3s ease;
}

.search:hover,
.search:focus {
  max-width: 200px;
}