.background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  pointer-events: none;
  filter: blur(1px);
}

@keyframes leaf-fall {
  from {
    top: -1.6rem;
    left: -1.6rem;
  }

  to {
    top: 100%;
    left: 100%;
    ;
  }
}

@keyframes leaf-fall {
  0% {
    transform: translateX(0) rotate(40deg);
  }

  100% {
    top: 100%;
    transform: translateX(100px) rotate(180deg);
  }
}

.background span {
  position: absolute;
  color: var(--primary-4);
  font-size: 1.6rem;
  animation: leaf-fall 9s linear infinite;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 12px 20px 32px 20px;
  z-index: 10;
  background-image: linear-gradient(var(--background), var(--background-cc), var(--background-00));
}

.headerNav {
  display: inline-flex;
  align-items: center;
  gap: 16px;
}

.headerNav a {
  border: none;
}

.logo {
  border: none;
  font-size: 2rem;
  color: var(--primary-0);
}

.headerNavItem {
  border: none;
  color: var(--primary-2);
  cursor: pointer;
}

.headerNavItem:hover {
  color: var(--primary-1);
}

.headerNavItem.icon {
  font-size: 1.3rem;
}

.headerNavItem.active {
  color: var(--primary-1);
}

.wrapper {
  margin: auto;
  margin-top: 64px;
  padding: 20px;
  width: calc(100% - 40px);
  max-width: 800px;
}

.footer {
  margin-top: 30px;
  color: var(--primary-4);
}